:host {
  max-width: 500px;
  margin: 0 auto;
  display: block;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 1.5rem;

  .back-button {
    position: absolute;
    align-self: flex-start;
    left: 0;
  }

  h3 {
    font-weight: 500 !important;
  }
}

.mat-form-field {
  width: 100%;
  margin-bottom: 5px;
}

.center {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;
}
