:host {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

header {
  display: flex;
  align-items: flex-start;
  margin-left: -0.75rem;

  .back-button {
    margin-right: 0.5rem;
    margin-top: 0.25rem;
  }
  h2 {
    margin-bottom: 0;
  }
}
