<div class="spacer"></div>
<div class="spacer"></div>
<h1>All Offices</h1>

<ng-container *ngIf="offices == undefined">
    loading
</ng-container>
<ng-container *ngIf="offices == []">
    No offices
</ng-container>
<ng-container *ngIf="offices">
    <app-office-card  *ngFor="let office of offices" [thisOffice]="office"></app-office-card> 
</ng-container>

<button  (click)="navigate()" mat-fab color="primary" aria-label="Example icon button with a delete icon"> 
   <app-specno-icon [icon]="icons.plus"></app-specno-icon>
</button>